//ルールブック...ﾀﾞﾖッ!!
//reset.cssはindex.htmlにて直接読み込んでる。

//css variable~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$baseColor: #F8F4E6;
$mainColor: #875647;
$subColor: #00DADA;
$rgbBlack: rgba($color: #000000, $alpha: .4);
$formColor: #EFEFEF;
$attentionColor: #909090;
//テスター用
$dummyColor: #D9D9D9;


//mixin~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin mix-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin mix-inner($w: 90%, $mw: 1200px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 800px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;

@mixin mix-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin mix-centerPos($top: 50%, $left: 50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%
    );
}


//component~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//*BTN
.btn {
    display: block;
    background-color: #00dada;
    text-align: center;
    line-height: 1;
    color: #ffffff;
    border-radius: 10px;
    //最低限の領域は確保しておく
    min-width: 100px;
    min-height: 40px;
    font-weight: bold;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

    transition: 0.3s ease-in-out;
}

.btn:hover {
    opacity: .7;
    transform: scale(1.05);
}

//*HEADER
.header {
    background: $mainColor;
    padding: 10px 0;
    position: fixed;
    z-index: 100;
    display: block;
    width: 100%;

    &__inner {
        @include mix-inner();
    }

    &__help {
        display: block;
        width: 30px;
        height: 30px;
    }
}

.subHeader {
    width: 45%;
    background: $rgbBlack;

    &__inner {
        @include mix-inner();
    }

    &__help {
        display: block;
        width: 30px;
        height: 30px;
    }
}

//*FOOTER
.footer {
    background: $mainColor;
    padding: 20px 0;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    z-index: 99;

    &__inner {
        @include mix-inner();
        @include mix-flex();
    }
}

//*Form
.form {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 5px 10px;
    background: $formColor;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 7px;

    & input::placeholder {
        opacity: .7;
    }
}

//*PhotoFrame
.photoFrame {
    display: block;
    width: 30%;

    &__title {
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
    }
}

//*StoryBox
.storyBox {
    background: $formColor;
    border: 2px solid $mainColor;
    padding: 10px;
    border-radius: 7px;

    &__text {
        color: $attentionColor;
    }
}

//*Personality
.personality {
    border: 1px solid $mainColor;
    border-radius: 7px;
    display: block;
    width: 100%;
    background: #fff;

    &__content {
        @include mix-flex(flex-start, flex-start);
        gap: 10px;
        padding: 10px;

        &:not(:last-child) {
            border-bottom: 1px solid $mainColor;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
    }
}

//page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//startScreen(タイトル画面)
//inputName(名前入力画面)
//generating(通信中の画面)
//myCharacterSheet(自分の生成したキャラの確認画面)
//story(プレイ画面)
//record(図鑑画面)
//targetLog(図鑑詳細画面)

body {
    background: $baseColor;
}

//*startScreen
.startScreen {
    min-height: 100vh;
    position: relative;

    &__inner {
        @include mix-inner();
        @include mix-centerPos();
    }

    &__title {
        width: fit-content;
        margin: 0 auto 30px;
    }

    &__btnContainer {
        @include mix-flex(center, center);
        gap: 20px;
        margin-top: 30px;
    }

    &__startBtn {
        margin: 0 auto;
    }
}

//*inputName
.inputName {
    min-height: 100vh;
    position: relative;

    &__inner {
        @include mix-inner();
        @include mix-centerPos(40%, 50%);
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    &__advice {
        font-weight: bold;
        color: $attentionColor;
        text-align: center;
        font-size: 14px;
        margin-bottom: 45px;
    }
}

//*Generating
.generating {
    &__inner {
        padding-top: 120px;
        @include mix-inner();
    }
}

//*MyCharacterSheet
.myCharacterSheet {
    padding-top: 120px;

    &__inner {
        @include mix-inner();
    }

    &__report {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    &__uniqueWord {
        font-size: 12px;
        color: $attentionColor;
        font-weight: bold;
        text-align: center;
    }

    &__basicInfo {
        @include mix-flex(flex-start);
        margin: 30px 0 50px;
    }

    &__content {
        margin-top: 15px;
    }

    &__list {
        @include mix-flex(flex-start, flex-start);
    }

    &__tag {
        font-weight: bold;
        margin-right: 15px;
    }

    &__btn {
        margin-top: 50px;
    }
}

//*Story
.story {
    padding-top: 120px;

    &__inner {
        @include mix-inner();
    }

    &__img {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__btn {
        margin-top: 60px;
    }
}

//*Result
.result {
    padding-top: 120px;

    &__inner {
        @include mix-inner();
    }

    &__report {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    &__img {
        display: block;
        margin: 0 auto 20px;
    }

    &__title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
    }

    &__uniqueWord {
        text-align: center;
        color: $attentionColor;
    }

    &__btn {
        display: block;
        margin: 50px auto 30px;
    }

    &__prompt {
        color: $attentionColor;
        text-align: center;
        font-weight: bold;
    }
}

//*Record
.record {
    //todo背景色のスタイリングは.recordと.targetLogで同じなので、片方変えたらもう片方も変更する
    padding-top: 120px;

    &__container {
        background: $mainColor;
        display: block;
        padding: 10px 0px 10px 10px;
    }

    &__book {
        background: url(../assets/item/paper.png);
        margin-left: auto;
    }

    &__inner {
        width: 90%;
        padding-right: 10px;
        margin-left: auto;
    }

    &__list {
        @include mix-flex();
        padding: 30px 0;
    }

    &__btn {
        margin-top: 50px;
        margin-left: auto;
    }
}

//*targetLog
.targetLog {
    //todo背景色のスタイリングは.recordと.targetLogで同じなので、片方変えたらもう片方も変更する
    padding-top: 120px;

    &__container {
        background: $mainColor;
        display: block;
        padding: 10px 0px 10px 10px;
    }

    &__book {
        background: url(../assets/item/paper.png);
        margin-left: auto;
    }

    &__inner {
        width: 90%;
        padding-right: 10px;
        margin-left: auto;
    }

    &__list {
        @include mix-flex();
        padding: 30px 0;
    }

    &__photoFrame {
        margin: 0 auto;
    }

    &__title {
        margin-top: 30px;
        font-size: 20px;
        font-weight: bold;
        margin: 30px auto 20px;
    }

    &__storyBox {
        margin-top: 30px;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    &__prompt {
        color: $attentionColor;
        font-size: 14px;
        margin-top: 5px;
    }

    &__personality {
        margin-top: 20px;
    }
}