//ルールブック...ﾀﾞﾖッ!!
//reset.cssはindex.htmlにて直接読み込んでる。

//css variable~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$baseColor: #F8F4E6;
$mainColor: #875647;
$subColor: #00DADA;
$rgbBlack: rgba($color: #000000, $alpha: .4);
$formColor: #EFEFEF;
$annoColor: #909090;
//テスター用
$dummyColor: #D9D9D9;


//mixin~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin mix-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin mix-inner($w: 90%, $mw: 1200px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 800px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;

@mixin mix-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin mix-centerPos($top: 50%, $left: 50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%
    );
}


//component~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//*BTN
.btn {
    display: block;
    background-color: #00dada;
    text-align: center;
    line-height: 1;
    color: #ffffff;
    border-radius: 10px;
    //最低限の領域は確保しておく
    min-width: 100px;
    min-height: 40px;
    font-weight: bold;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

    transition: 0.3s ease-in-out;
}

.btn:hover {
    opacity: .7;
    transform: scale(1.05);
}

//*HEADER
.header {
    background: $mainColor;
    padding: 10px 0;
    position: fixed;
    z-index: 100;
    display: block;
    width: 100%;

    &__inner {
        @include mix-inner();
    }

    &__help {
        display: block;
        width: 30px;
        height: 30px;
    }
}

.subHeader {
    width: 45%;
    background: $rgbBlack;

    &__inner {
        @include mix-inner();
    }

    &__help {
        display: block;
        width: 30px;
        height: 30px;
    }
}

//*FOOTER
.footer {
    background: $mainColor;
    padding: 20px 0;
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    z-index: 99;

    &__inner {
        @include mix-inner();
        @include mix-flex();
    }
}

//*Form
.form {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 5px 10px;
    background: $formColor;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 7px;




    & input::placeholder {
        opacity: .7;
    }
}


//page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
body {
    background: $baseColor;
}

//*startScreen
.startScreen {
    min-height: 100vh;
    position: relative;

    &__inner {
        @include mix-inner();
        @include mix-centerPos();
    }

    &__title {
        width: fit-content;
        margin: 0 auto 30px;
    }

    &__btnContainer {
        @include mix-flex(center, center);
        gap: 20px;
        margin-top: 30px;
    }

    &__startBtn {
        margin: 0 auto;
    }
}

//*inputName
.inputName {
    min-height: 100vh;
    position: relative;

    &__inner {
        @include mix-inner();
        @include mix-centerPos(40%, 50%);
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    &__advice {
        font-weight: bold;
        color: $annoColor;
        text-align: center;
        font-size: 14px;
        margin-bottom: 45px;
    }
}

//*story